// @media only screen and (min-width: 320px) {
// }
// @media only screen and (min-width: 480px) {
// }
// @media only screen and (min-width: 768px) {
// }
// @media only screen and (min-width: 1024px) {
// }
// @media only screen and (min-width: 1140px) {
// }
// @media only screen and (min-width: 1280px) {
// }

// breakpoints
$bp-xs: 320px;
$bp-s: 425px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1280px;
$bp-2xl: 1536px;
