@font-face {
	font-family: 'segoe-light';
	src: url('../fonts/Light.woff') format('woff');
}
@font-face {
	font-family: 'segoe-regular';
	src: url('../fonts/Regular.woff') format('woff');
}
@font-face {
	font-family: 'segoe-bold';
	src: url('../fonts/Bold.woff') format('woff');
}

$text-light: segoe-light, arial, sans-serif;
$text-regular: segoe-regular, arial, sans-serif;
$text-bold: segoe-bold, arial, sans-serif;
