.navbar {
	@include row;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	top: 0;
	padding: 2.5rem;
	.social {
		@include row;
		align-items: center;
		justify-content: flex-end;
		flex-basis: 100%;
		&__icon {
			height: 2rem;
			width: 2rem;
			margin-left: 0.625rem;
			transition: all 1s ease;
			&:hover {
				transform: scale(1.2);
			}
		}
		&__svg {
			fill: $color-white;
			width: 1.5rem;
			height: 1.5rem;
		}
	}
	@media screen and (max-width: $bp-m) {
		display: none;
	}
}
