*,
*::before,
*::after {
	box-sizing: border-box;
}
ol,
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

//TODO: MOVE EVERYTHING TO ITS PLACE
.hero {
	padding: 2.5rem;
	background-image: linear-gradient(
		270deg,
		#62a7ff -50%,
		#435ab6 25%,
		#3f51ad 50%,
		#142d4c 176%
	);
	//   background-image: linear-gradient(
	//     45deg,
	//     62a7ff 0%,
	//     blue 36%,
	//     navy 72%,
	//     darkblue 100%
	//   );
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	top: 0;
	padding: 2.5rem;
	.social {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		flex-basis: 100%;
		&__icon {
			height: 2rem;
			width: 2rem;
			margin-left: 0.625rem;
		}
		&__svg {
			fill: white;
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
.main {
	.hero {
		height: auto;

		@media screen and(max-width: 768px) {
			height: 75vh;
		}

		&__image {
			display: flex;
			flex-direction: row;
			justify-content: center;
			//   make this responsive, calculate height: ;
			transform: translate(-40px, 80px);
			flex: 0 0 50%;
			.image {
				height: 78vh;
			}
		}
		&__text {
			flex: 0 0 50%;
		}
		&__title {
			font-family: $text-light, sans-serif;
			font-size: 48px;
			font-weight: 300;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.21;
			letter-spacing: normal;
			color: white;
		}
		&__subtitle {
			opacity: 0.7;
			font-family: $text-regular, sans-serif;
			font-size: 24px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.42;
			letter-spacing: normal;
			color: white;
		}
		&__cta {
			display: flex;
			flex-direction: row;
			button {
				height: 3rem;
			}
			input {
				height: 3rem;
			}
		}
	}
	.extra {
		height: 600px;
	}
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-basis: 100%;
	//   transition: flex-direction 1s linear, opacity 1s linear;
	@media screen and(min-width: 768px) {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}
body {
	height: 100vh;
	margin: 0;
	color: black;
	font-family: 'SegoeUI', sans-serif;
}
