// colors
$text-color: #ffffff;
$text-subcolor: #9fa3a7;
$accent-color: #f05638;
$color-white: #ffffff;
$background-darkest: rgb(22, 46, 80);
$background-dark: rgb(48, 68, 139);
$background-light: rgb(72, 102, 193);
$background-lightest: rgb(81, 125, 216);

$font-xl: 48px;
$font-l: 24px;
$font-ml: 20px;
$font-m: 16px;
$font-s: 14px;
